.firstDiv{
    /* here dot(.) is initialized for div class identification */
    color: rgb(11, 239, 239);
}
.secondDiv{
    /* here dot(.) is initialized for div class identification */
    background-color: aquamarine;
    color: rgb(208, 128, 30);
}
.thirdDiv{
    /* here dot(.) is initialized for div class identification */
    background-color: blueviolet;
    color: aqua;
}
#singledout{
    /* # is used for id, they are unique */
    color: rgb(31, 225, 89);
    text-decoration: line-through;
}
h1 + ul {
    /* above says select unordered list which is immedietly after h1  */
    border: dotted 4px red;
}

li a{
    color: blue;
}

li a[href="https://www.google.com"] {
    color: rgb(147, 147, 160);
}