body{
    background-color: #D3D3D3;
}
div{
    background-color: rgb(93, 245, 194);
    border-color: rgb(80, 0, 252);
    border-width: medium;
    border-style: dotted;
}
p{
    color: rgb(251, 136, 13);
}
ol{
    color: rgb(9, 1, 16);
    background: url(https://img.freepik.com/premium-photo/sunset-time-tropical-beach-sea-with-coconut-palm-tree_992269-2.jpg);
}
h4{
    background-color: blueviolet;
    border-width: 10px;
    border-color: rgb(25, 216, 76);
    border-style: dashed;
    /* comment just to test something */
}
span{
    background-color: antiquewhite;
    color: blue;
}